body  {
    margin: 0%;
    background-color: black;
    color: white;
}

h1 {
    /* margin-bottom: 0%; */
    font-size: 70px;
    font-style: italic;
    border-bottom: 1px solid white;
    padding-right: 0%;
    text-shadow: 2px 1px grey;
}

.heading {
    width: 65%;
    text-align: center;
    padding-top: 120px;
}

.heading p {
    text-align: right;
    margin-right: 5%;
    font-size: larger;
}

.main {
    display: flex;
}

.bandwimg {
    width: 35%;
    text-align: center;
    padding-top: 70px;
}

.bandwimg img {
    width: 60%;
}

.container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text {
    padding: 20px 20px;
    width: 70%;
}

.secondimg {
    width: 30%;
    text-align: center;
    padding: 50px 0;
}

.secondimg img {
    width: 80%;
    border-radius: 30px;
}

.container2 {
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
}

.text2 {
    overflow: inherit;
    width: 70%;
    color: black;
    padding: 1px 40px;
}

.text2 p {
    margin-left: 10%;
}

.text2 h1 {
    font-size: 70px;
    font-style: italic;
    border-bottom: 1px solid white;
    padding-right: 0%;
    text-shadow: 2px 1px grey;
}

.thirdimg {
    width: 30%;
}

.thirdimg img{
    height: 500px;
    width: 100%;
}

.container3 {
    text-align: center;
    padding-top: 8px;
}

.container4 {
    display: flex;
    margin-bottom: 300px;
}

.img1 {
    width: 35%;
    border: 10px solid black;
}

.img2 {
    width: 65%;
    border: 10px solid black;
}

.img1 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.img2 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

@media only screen and (max-width: 1200px) {   
    .bandwimg img {
        width: 80%;
    }
    .text2 h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 800px) {   
    .bandwimg img {
        width: 100%;
    }
    .text2 h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px) {   
    .text2 h1 {
        font-size: 20px;
    }
    .container2{
        flex-direction: column;
    }
    .text2, .thirdimg{
        width: 100%;
    }
    .text2 {
        padding: 0;
    }
    .container3{
        padding-top: 8rem;
    }
    iframe {
        height: 20rem;
    }
}
